<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LocationOnMap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8447323A1C58CA6000D3EB97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>844732561C58CA6100D3EB97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>844732611C58CA6100D3EB97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
